<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sami.pahkthecah">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RedirectFromGrid" />
        <activity android:name=".RedirectFromSpecificLocation" />
        <activity android:name=".aboutMarathon" />
        <activity android:name=".aboutConstitution" />
        <activity android:name=".aboutContemporary" />
        <activity android:name=".aboutFaneuilHall" />
        <activity android:name=".aboutFenway" />
        <activity android:name=".aboutFoursRestaurant" />
        <activity android:name=".aboutFreedomTrail" />
        <activity android:name=".aboutGardnerMuseum" />
        <activity android:name=".aboutHurricane"></activity>
    </application>

</manifest>
