<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.margaretann.pahkthecah" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Homescreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".optionspage"
            android:label="@string/title_activity_optionspage"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".optionspage2"
            android:label="@string/title_activity_optionspage2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".optionspage3"
            android:label="@string/title_activity_optionspage3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".categorypage"
            android:label="@string/title_activity_categorypage"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".loginpage"
            android:label="@string/title_activity_loginpage"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".aboutpage"
            android:label="@string/title_activity_aboutpage"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".aboutAgganis"
            android:label="@string/title_activity_about_agganis"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".aboutAquarium"
            android:label="@string/title_activity_about_aquarium"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".aboutBeerworks"
            android:label="@string/title_activity_about_beerworks"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".aboutBostoncommon"
            android:label="@string/title_activity_about_bostoncommon"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".aboutBpl"
            android:label="@string/title_activity_about_bpl"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".aboutCask"
            android:label="@string/title_activity_about_cask"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".aboutCemetary"
            android:label="@string/title_activity_about_cemetary"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".aboutMassacre"
            android:label="@string/title_activity_about_massacre"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
